*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /*1rem = 10px*/
}

body{
    background: linear-gradient( rgb(255, 213, 213), rgb(232, 107, 107));
    background-repeat: no-repeat;
    min-height: 100vh;
    height: fit-content;

    display: flex;
    justify-content: center;
    padding: 20px 0;

    font-size: 2rem;
}

.wrapper{
    background-color: white;
    height: fit-content;
    padding: 2rem 0 3rem 0;
    width: 100%;
    max-width: 60rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 5px 10px rgba(186, 115, 115, 0.535);
}
    .wrapper > header{
        padding: 1rem 0;
        
        font-size: 3rem;
        text-align: center;
        cursor: default;
    }

        .wrapper > header > h3{
            margin: 1rem 0;
            
            font-size: 1.6rem;
            font-weight: 300;
        }

    #newTodoInput-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        width: 66%;
        height: 3.5rem;
    } 
        #newTodoInput-container > input{
            height: inherit;
            width: 60%;
            padding: 0.5rem 1rem;
            outline-color: rgb(42, 139, 172);

            font-size: 1.6rem;
        }
        
        #newTodoInput-container > button{
            height: inherit;
            width: 12%;
            
            font-size: 1.8rem;
            text-transform: uppercase;
            cursor: pointer;
        }

    span.error{
        margin: 1rem 0rem;
        
        color: red;
        font-size: 1.7rem;
        font-style: italic;
        
        opacity: 0;
    }
    
    #todos-section{
      
        height: fit-content;
        width: 33%;
        margin: 1rem 0;

        text-align: center;
        list-style: none;

    }   
        .todo-container{
            display: flex;
            justify-content: center;
            gap: 1rem;
        } 
            .todo-container > p{
                margin: 0.5rem;
                
                font-weight: bold;
                font-size: 2.2rem;
                cursor: pointer;
               
                transition: ease-in 0.5s;
            }   
                .todo-container > p:hover{
                    text-decoration: line-through;
                }

            .todo-container > button{
                background: none;
                border: none;
               
                font-size: 1.2rem;
                cursor: pointer;
            }

              
    /*add through javascript rules*/
    .completedTask{
        transition: ease-in 0.5s;
     
        text-decoration: line-through;
        color: gray;
    }

    .error.visible{
        opacity: 1;
        animation: error-display ease-out 0.8s 2;
    }

        @keyframes error-display{
            0%{
                opacity: 0;
            }

            50%{
                opacity: 1;

            }
       
            100%{
                opacity: 0;
            }
        }